*{
  margin: 0;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.bar {
  height: 8vh;
  width: 100%;
  background-color: #41BBD9;
  position: relative;
  top: 0;
}

.block {
  height: 8vh;
  width: 200px;
  background-color: #41BBD9;
  border-color: #22ABCC;
  border-style: outset;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  line-height: 7vh;
  text-align: center;
}

.block:hover {
  border-style: inset;
  background-color: #22ABCC;
  border-color: #41BBD9;
}

.large-text {
  color: #FFFFFF;
  font-size: large;
}

.container {
  background-color: antiquewhite;
  height: 92vh;
  position: relative;
}

.center {
  position: absolute;
  margin: auto;
  height: 50%;
  width: 50%;
  left: 25%;
  top: 25%;
  text-align: center;
}

.title-text {
  color: #00A2CA;
  font-size: 48;
  margin: 5%;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.fat-button {
  margin: 10px;
  padding: 5% 10% 5% 10%;
  top: 5%;
  background-color: #CBF3F0;
  border-radius: 0.5em;
}

.fat-button:hover {
  background-color: #85d2cd;
}