*{
  margin: 0;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.bar {
  height: 8vh;
  width: 100%;
  background-color: #41BBD9;
  position: relative;
  top: 0;
}

.userLogoImage img {
  height: 20px;
  width: auto;
}

.mainUserInfo img {
  height: 75px;
  width: auto;
}

.mainUserInfo {
  border: 2px solid black;
  font-size: 45px;
  height: 700px;
  width: 600px;
  padding: 50px 50px 50px 50px;
  text-align: center;
  top:20%;
  background-color: #CBF3F0;
}

.mainUserInfo button {
  background-color: #41BBD9;
  font-size: 30px;
}

.mainUserInfo button:hover {
  background-color: #97E3DA
}

.profileButton {
  font-size: 25px;
  width: 300px;
  padding: 5px 5px 5px 5px;
}

.UserPage {
  display: flex;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.body {
  background: #85d2cd;
}

.profileButton {
  background-color: #41BBD9;
}

.profileButton:hover {
  background-color: #97E3DA
}

.SubmitField {
  background-color: #97E3DA;
  font-size: 12px;
}

.infoField {
  background-color: #97E3DA;
  font-size: 15px;
  width: 200px;
}

.friendIcon {
  background-color: antiquewhite;
}

.removeFriend button {
  color: #FF5349;
}

.SubmitButton {
  background-color: #0C8677;
  color: white;
}

.SubmitButton:hover {
  background-color: #97E3DA;
  color: black;
}

.infoButton {
  background-color: #0C8677;
  color: white;
  font-size: 15px;
}

.SubmitInfo:hover {
  background-color: #97E3DA;
  color: black;
}

.friendIcon {
  padding: 10px 10px 10px 10px;
}

.friendList {
  border: 2px solid black;
  padding: 15px 15px 15px 15px;
  align-items: left;
  height: 770px;
  overflow-y: scroll;
  background-color: #2EC4B6;
}

.userLogoImage {
  width: 170px;
  display: inline-block;
}



.removeFriend {
  font-size: 20px;
  color: red;
}

.block {
  height: 8vh;
  width: 200px;
  background-color: #41BBD9;
  border-color: #22ABCC;
  border-style: outset;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  line-height: 7vh;
  text-align: center;
}

.block:hover {
  border-style: inset;
  background-color: #22ABCC;
  border-color: #41BBD9;
}

.large-text {
  color: #FFFFFF;
  font-size: large;
}

.container {
  background-color: aliceblue;
  height: 92vh;
  position: relative;
}

.center {
  position: absolute;
  margin: auto;
  height: 50%;
  width: 50%;
  left: 25%;
  top: 25%;
  text-align: center;
}

.title-text {
  color: #00A2CA;
  font-size: 48;
  margin: 5%;
}

.story-title {
  color: #00A2CA;
  font-size: 48;
  margin: 1%;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.fat-button {
  margin: 10px;
  padding: 5% 10% 5% 10%;
  top: 5%;
  background-color: #CBF3F0;
  border-radius: 0.5em;
}

.fat-button:hover {
  background-color: #85d2cd;
}

.small-button {
  position: absolute;
  bottom: 4%;
  right: 4%;
  width: 10%;
  padding: 1% 5% 1% 5%;
  background-color: #41BBD9;
  color: #FFFFFF;
}

.small-button:hover {
  background-color: #22ABCC;
}

.game-container {
  position: absolute;
  margin: auto;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  text-align: center;
  background-color: #C0E9F2;
}

.text-container {
  text-align: left;
  position: absolute;
  left: 4%;
  background-color: #C0E9F2;
  height: 66%;
  width: 90%;
  padding: 1%;
  overflow-y: scroll;
  font-size: large;
  white-space: pre-wrap;
}

.text-container span {
  color: transparent;
  text-shadow: 0 0 8px #000;
  line-height: 1.5;
}

.text-container p {
  text-align: center;
}

/*Chatbox CSS*/
.my-message {
  background-color: #2EC4B6;
}

.other-message {
  background-color: #00A2CA;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  height: 92vh;
  width: 100vw;
}

.card {
  background-color: #41BBD9;
  border-color: #2EC4B6;
  border-style: solid;
  margin-left: 50px;
  margin-right: 50px;
  height: 400px;
  width: 600px;
}

.innerCard {
  display: flex;
  align-items: center;
  height: 85%;
  width: 100%;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Inter';
  margin-left: 10%;
  padding-top: 10px;
}

.loginButton {
  background-color: #007794;
  color: #FFFFFF;
  width: 250px;
  height: 45px;
  border-style: none;
  font-weight: bolder;
  margin-right: 35px;
  margin-top: 10px;
  border-radius: 5px;
}

.forgetButton {
  background-color: #41BBD9;
  border-style: solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  height: 45px;
  width: 130px;
  margin-left: 35px;
  margin-top: 35px;
  border-radius: 5px;
}

.loginError{
  color: red;
  font-size: 20px;
}

.inputLogin {
  height: 30px;
  width: 80%;
  border-style: none;
  background-color: #CBF3F0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tabButton{
  background-color: #FFFFFF;
  border-style: none;
  color: #41BBD9;
  height: 50px;
  width: 50%;
  font-size: 30px;
  font-family: 'Inter';
}

.forgotHeader{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 30px;
  font-family: 'Inter';
  color: #FFFFFF;
}

.forgotDescription{
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Inter';
  margin-left: 5%;
}

.loginForms{
  width: 100%;
}

#forgotPassword{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chatBox{
    position: fixed;
    right: 0px; bottom: 0px;
    width: 200px;
    height:200px;
    background-color:rgb(255, 255, 255);
    padding: 5px;
}

.messageBox{
    position: fixed;
    right: 0px; bottom: 0px;
    width: 200px;
    height:80px;
    background-color:rgb(255, 255, 255);
    padding: 5px;
}